// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.eight {
  color: yellow;
}
.nine {
  color: white;
}
.mill {
  color: green;
}
button {
  background-color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 1px blue;
}
button:active {
  transform: translate(1px, 1px);
  box-shadow: 0.5px 0.5px 1px blue;
}